.species-image {
  width: 100%; /* Set the width to fill the card */
  height: 200px; /* Fixed height */
  object-fit: cover; /* Resize the image to cover the container */
}
/* Add this CSS to your stylesheet or style block */
/* Add this CSS to your stylesheet or style block */
.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 100;
}

.sticky-footer {
  position: sticky;
  bottom: 0;
  z-index: 100;
}
